:root {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    --myblue: #012a50;
    --myyellow: #edd30a;
    font-size: 18px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    background-color: rgba(211, 211, 211, 0.5);
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
}

.container>* {
    text-align: justify;
}

.panel {
    background: var(--myyellow);
    width: 17vw;
    max-width: 60px;
    height: auto;
    position: absolute;
    top: 0px;
    -webkit-animation-name: slide;
            animation-name: slide;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    border-radius: 0 0 5px 0;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes slide {
    0% {
        left: -1000px;
    }

    100% {
        left: 0px;
    }
}

@keyframes slide {
    0% {
        left: -1000px;
    }

    100% {
        left: 0px;
    }
}

.panel>.social {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    text-align: center;
}

.panel>.social>* {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 15px;
}

.panel>.social>*:hover {
    background-color: var(--myblue);
}

.panel .social .fa {
    color: var(--myblue);
}

.panel>.social>*:hover .fa {
    color: var(--myyellow);
}

/*Header*/

.top .menu {
    background-color: var(--myblue);
}

.top .image-container {
    height: 450px;
    background-image: url(../photo/header450.jpg);
    background-position: center;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
}

.menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.menu-items>* {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu-items a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    padding: 20px 15px;
    width: 100%;
}

.menu-items a:hover {
    background: var(--myyellow);
    color: var(--myblue);
}

.avatar {
    border: 10px solid var(--myblue);
    border-radius: 50%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 60%;
}

.top .title {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    padding: 20px;
}

/*Main*/

.container>main {
    background-color: white;
    height: auto;
    min-height: 60vh;
    padding: 0 10vw;
}

main section {
    padding-top: 5vh;
}

.section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    overflow: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.photo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 5px 20px 5px 20px;
    width: auto;
    height: 100%;
    min-width: 300px;
    max-width: 500px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.photo img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

p {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    line-height: 1.5rem;
}

.work .section .photo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}

.form {
    background-color: rgba(211, 211, 211, 0.5);
    max-width: 60vw;
    margin-top: 20px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.5rem;
}

form>* {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
    padding: 10px;
}

.field,
.field:focus,
.field:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
            box-shadow: 0 0 0px 1000px white inset;
    border: none;
    border: solid 1px rgb(211, 211, 211);
    border-radius: 5px;
    outline: none;
}

#message {
    font-size: 1rem;
    line-height: 1.5rem;
}

.button {
    padding: 15px;
    margin: 20px 0px 20px 0px;
    text-align: center;
    font-size: 1rem;
    border-style: none;
    border-radius: 5px;
    background-color: var(--myblue);
    color: white;
}

.button:hover {
    background-color: var(--myyellow);
    color: var(--myblue);
}

.button:focus {
    outline: none;
}

.button:active {
    -webkit-transform: scale(0.995);
        -ms-transform: scale(0.995);
            transform: scale(0.995);
}

.section.up {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    padding: 0;
    margin: 0;
}

.fa.fa-angle-up {
    font-size: 3rem;
    color: var(--myblue);
}

.fa.fa-angle-up:hover {
    font-size: 3rem;
    background-color: white;
    color: var(--myyellow);
}

/*Footer*/

.container>footer {
    background-color: var(--myblue);
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

footer>div {
    color: white;
    padding: 20px 5px;
    position: relative;
    margin: auto;
    left: 70px;
    font-size: 0.75rem;
}

.social {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social>* {
    padding: 20px 15px;
}

.social .fa {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.social i:hover,
.social i:active {
    color: var(--myyellow);
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .top .title {
        font-size: 2.3rem;
    }

    .work .section .photo {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
    }

    .photo {
        margin: 0 0 20px 0;
    }

    p {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
    }

    .form {
        max-width: 70vw;
    }

    form {
        max-width: 60vw;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .menu-items {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .menu-items>li {
        -webkit-box-flex: 1;
            -ms-flex: 1 100%;
                flex: 1 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    .top .title {
        font-size: 2rem;
    }

    .work .section .photo {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
    }

    .form {
        max-width: 80vw;
    }

    form {
        max-width: 70vw;
    }

    footer {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    footer>div {
        min-width: 291px;
        position: relative;
        left: 0px;
        text-align: center;
        padding: 10px;
    }

    footer>* {
        margin: 0 auto;
    }

    .social>* {
        padding: 10px;
    }
}